@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Manrope:wght@600;800&family=Plus+Jakarta+Sans:wght@500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


header {
  padding: 16px 16px 32px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 48px;
  height: 48px;
}

.btn {
  width: 176px;
  height: 44px;
  border-radius: 28px;
  background-color: #030303;
  color: #FFF7F0;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
}

.top-section {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.top-h3 {
  width: 343px;
  height: 90px;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 36px;
  line-height: 45.36px;
  color: #030303;
}

.top-p {
  margin-top: 16px;
  width: 285px;
  height: 104px;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7A746E;
}

.gallery {
  padding-left: 16px;
  padding-right: 16px;
  flex-direction: column;
  display: flex;
  margin-top: 32px;
  flex-wrap: wrap;
  row-gap: 24px;
}

.blue {
  position: relative;
  width: 343px;
  height: 364px;
  border-radius: 8px;
  background-color: #755CDE;
}

.pattern-graphic {
  position: absolute;
  left: 191px;
  top: 24px
}

.blue-box-text {
  position: absolute;
  width: 210px;
  height: 30px;
  top: 310px;
  left: 24px;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 30.24px;
  color: #FFFFFF;
}

.middle {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
}

.middle-wrapper {
  display: flex;
  column-gap: 25px;
}

.orange {
  position: relative;
  width: 159px;
  height: 182px;
  border-radius: 8px;
  background-color: #F6A560;
}

.ui-ux {
  position: absolute;
  width: 81.89px;
  height: 30px;
  top: 128px;
  left: 23.77px;
  font: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 30.24px;
  color: #FFFFFF;
}

.ui-pattern {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 24px;
  left: 70.91px;
}

.pink {
  position: relative;
  width: 159px;
  height: 182px;
  border-radius: 8px;
  background-color: #F39E9E;
}

.apps {
  position: absolute;
  width: 72.79px;
  height: 30px;
  top: 128px;
  left: 23.77px;
  font: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 30.24px;
  color: #FFFFFF;
}

.app-pattern {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 24px;
  left: 70.87px;
}


.broun {
  position: relative;
  width: 343px;
  height: 158px;
  border-radius: 8px;
  background-color: #EB7565;
}

.Illustrations {
  position: absolute;
  width: 161.75px;
  height: 30px;
  top: 104px;
  left: 24.35px;
  font: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 30.24px;
  color: #FFFFFF;
}

.illustration-pattern {
  width: 128px;
  height: 64px;
  position: absolute;
  top: 24px;
  left: 191.91px;
}

.third {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 24px;
}

.green {
  position: relative;
  width: 343px;
  height: 182px;
  border-radius: 8px;
  background-color: #61C4B7;
}

.Photography {
  position: absolute;
  width: 182.06px;
  height: 30px;
  top: 128px;
  left: 24px;
  font: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 30.24px;
  color: #FFFFFF;
}

.photography-pattern {
  width: 160px;
  height: 64px;
  position: absolute;
  top: 24px;
  left: 159px;
}

.purple {
  position: relative;
  width: 343px;
  height: 182px;
  border-radius: 8px;
  background-color: #552049;
}

.Motion-Graphics {
  position: absolute;
  width: 227px;
  height: 30px;
  top: 128px;
  left: 24px;
  font: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 30.24px;
  color: #FFFFFF;
}

.motion-pattern {
  width: 128px;
  height: 64px;
  position: absolute;
  top: 24px;
  left: 191px;
}

.profile {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Amys-photo {
  width: 300px;
  height: 300px;
}

.introduction {
  margin-top: 40px;
  width: 343px;
  height: 66px;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 26px;
  line-height: 32.76px;
  text-align: center;
  color: #030303;
}

.about-Amy {
  margin-top: 24px;
  width: 343px;
  height: 104px;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #7A746E;
}

.red-btn {
  margin-top: 24px;
  margin-left: 83px;
  width: 176px;
  height: 44px;
  border-radius: 28px;
  background-color: #EB7565;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #FFF7F0;
}

/* slider */
.title {
  width: 102px;
  height: 30px;
  margin-top: 108px;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 30.24px;
  color: #030303;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.navigation {
  margin-top: 32px;
  display: flex;
  column-gap: 16px;
}


.navigation .nav-btn {
  background: #030303;
  cursor: pointer;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.carousel {
  overflow: hidden;
  display: flex;
  /* flex-direction: row; */
  column-gap: 15px;
  margin-top: 32px;
}

.carousel img {
  width: 100%;
}

.item {
  width: 270px;
  height: 180px;
  /* display: none; */
}

.main {
  display: block;
}

/* medya query 768 */

@media only screen and (min-width: 768px) {
  header {
    padding: 34px 40px 64px 39px;
  }

  .logo {
    width: 64px;
    height: 64px;
  }

  .btn {
    width: 228px;
    height: 56px;
    font-size: 16px;
  }

  .top-h3 {
    width: 690px;
    height: 55px;
    font-size: 44px;
    line-height: 55.44px;
  }

  .top-p {
    margin-top: 27px;
    width: 573px;
    height: 56px;
    font-size: 18px;
    line-height: 28px;
  }

  .gallery {
    padding-left: 39px;
    padding-right: 39px;
    margin-top: 64px;
    flex-direction: row;
    column-gap: 24px;
  }

  .blue {
    width: 333px;
  }

  .pattern-graphic {
    left: 181px;
  }

  .middle {
    flex-direction: column;
  }

  .middle-wrapper {
    display: flex;
    column-gap: 23px;
  }

  .orange {
    width: 155px;
  }

  .pink {
    width: 155px;
  }

  .app-pattern {
    left: 69.87px;
  }


  .broun {
    width: 333px;
  }

  .illustration-pattern {
    left: 186.91px;
  }

  .green {
    width: 333px;
  }

  .photography-pattern {
    left: 149px;
  }

  .purple {
    width: 333px;
  }

  .motion-pattern {
    left: 181px;
  }

  .third {
    column-gap: 23px;
    flex-direction: row;
  }

  .profile {
    padding-right: 39px;
    margin-top: 120px;
    flex-direction: row;
    column-gap: 35px;
    overflow: hidden;
  }

  .Amys-photo {
    width: 364px;
    height: 364px;
    transform: translateX(-43px);
  }

  .introduction {
    margin-top: 0px;
    width: 339px;
    height: 120px;
    font-size: 32px;
    line-height: 40.32px;
    text-align: left;
  }

  .about-Amy {
    width: 339px;
    height: 140px;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
  }

  /* slider */
  .title {
    width: 136px;
    height: 40px;
    margin-top: 120px;
    font-size: 32px;
    line-height: 40.32px;
  }

  .navigation {
    margin-top: 56px;
  }

  .carousel {
    column-gap: 30px;
    margin-top: 56px;
  }

  .item {
    width: 540px;
    height: 360px;
    /* display: none; */
  }

  .main {
    display: block;
  }
}

@media only screen and (min-width: 1440px) {

  header {
    padding: 34px 164px 66px 165px;
  }

  .btn:hover {
    background-color: #755CDE;
    cursor: pointer;
  }

  .top-h3 {
    width: 751px;
    height: 71px;
    font-size: 56px;
    line-height: 70.56px;
  }

  .top-p {
    margin-top: 23px;
    width: 730px;

  }

  .gallery {
    padding-left: 165px;
    padding-right: 165px;
    margin-top: 80px;
  }

  .blue {
    width: 354px;
  }

  .pattern-graphic {
    left: 202px;
  }

  .orange {
    width: 164px;
  }

  .pink {

    width: 164px;
  }

  .app-pattern {
    left: 75.87px;
  }


  .broun {
    width: 354px;
  }

  .illustration-pattern {
    left: 200.91px;
  }

  .third {
    flex-direction: column;
  }

  .green {
    width: 354px;
  }

  .photography-pattern {
    left: 170px;
  }

  .purple {
    width: 354px;
    height: 158px;
  }

  .motion-pattern {
    left: 202px;
  }

  .profile {
    padding-left: 165;
    padding-right: 165px;
    margin-top: 136px;
    column-gap: 125px;
  }

  .Amys-photo {
    margin-left: 165px;
    width: 445px;
    height: 445px;
    transform: translate(0);
  }

  .introduction {
    width: 540px;
    height: 100px;
    font-size: 40px;
    line-height: 50.4px;
  }

  .about-Amy {
    width: 540px;
    height: 84px;
  }

  .red-btn:hover {
    background-color: #F6A560;
    cursor: pointer;
  }


}